@import "src/assets/styles/main.scss";

.error {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;

  & > h1 {
    position: relative;
    z-index: 1;
    font-family: maven pro, sans-serif;
    color: $yellow;
    font-weight: 900;
    font-size: 276px;
    top: 300px;
  }

  & > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    z-index: 2;
  }

  &_title {
    @include title;
    font-size: 2em;
    color: $darkBlue;
    text-transform: uppercase;
  }

  &_text {
    @include title;
    color: $darkBlue;
  }
}
